# Dependencies
node_modules/

# Expo specific
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Native Build Folders (Crucial for space)
android/
ios/

# Native Secrets & Keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Environment Variables (Security!)
.env
.env.local
.env.*.local

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# System files
.DS_Store
*.tsbuildinfo

# Project specific
app-example/